<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço: </strong> <br />
  <strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
  <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
  <br />
  <small>
    O horário de retirada precisa ser entre 08:00 e 18:00
  </small>
</p>